@import url(./reset.css);

body {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: var(--main-color);
  color: var(--fc-dark);
}


.container {
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.glassmorphism {
  background: rgba( 255, 255, 255, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 13.5px );
  -webkit-backdrop-filter: blur( 13.5px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

svg path{
  fill: var(--fc-dark);
}


.theme-wrapper div span{
  border: 3px solid var(--fc-dark);
  width: 100% !important;
  height: 180px !important;
  margin: 0 auto;
}


.breaks-wrapper .long-break {
  display: flex;
  align-items: center;
  gap: 1rem;

  border: 2px solid var(--fc-dark);
  border-radius: 99px;

  padding: 10px 14px;
  margin-bottom: 1rem;
}

.long-break p{
  font-size: clamp(.8rem, 5vw, 1.2rem);
}

.timer-wrapper .timer span {
  font-size: clamp(6rem, 16vw, 12.6rem);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/*Message*/
.message {
  margin-left: 3rem;
}

.message span {
  font-size: 1.5rem;
  font-weight: 500;
}

.message-text .message-name {
  padding-bottom: 1.7rem;
  display: inline-flex;
  min-width: 32rem;
  max-width: 600px;
  height: 20px;
  margin: 0 auto;
}

/*Sound*/
.sound-control {
  position: absolute;
  right: 20px;
  bottom: calc(10vh - 40px);
}

/*Menu*/

.menu-wrapper{
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  background: var(--main-color);
  transition: all .8s ease-in-out;
  z-index: 100;

  overflow-y: scroll;
}

#active:checked ~ .menu-wrapper{
  right:0;
}

.menu-btn{
  position: absolute;
  z-index: 1000;
  right: 20px;
  top: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu-btn span,
.menu-btn:before,
.menu-btn:after{
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	left: 30%;
	width: 40%;
	border-bottom: 3px solid var(--fc-dark);
	transition: transform .6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-btn:before{
  transform: translateY(-8px);
}
.menu-btn:after{
  transform: translateY(8px);
}

.close {
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
	transition: background .6s;
}

#active:checked + .menu-btn span {
	transform: scaleX(0);
}
#active:checked + .menu-btn:before {
	transform: rotate(45deg);
  border-color: var(--fc-dark);
}
#active:checked + .menu-btn:after {
	transform: rotate(-45deg);
  border-color: var(--fc-dark);
}

input[type="checkbox"]{
  display: none;
}

/*Select Theme*/
.theme-wrapper{
  width: 95%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  cursor: pointer;
}

.select-theme .theme-wrapper .theme-buttons{
  display: block;
  width: 200px;
  height: 130px;
  margin-bottom: 3rem;
}
.select-theme,
.select-songs{
  margin: 5rem;
  max-width: 85%;

}
.select-theme h1,
.select-songs h1{
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 500;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--fc-dark);
  width: clamp(85%, 80vw, 95%);
  padding-bottom: 1rem;
}

.theme-wrapper span.theme-buttons,
.song-wrapper span.song-theme{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Select song*/

.song-wrapper{
  width: 95%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
}

.song-wrapper button > img.active{
  background: rgba(0, 0, 0, 0.45);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.song-wrapper button{
  background: rgba(255, 255, 255, 0.24);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  padding: 1rem;
}



.select-songs .song-wrapper .song-theme{
  display: block;
  width: 96px;
  height: 96px;
  margin-bottom: 3rem;
}



@media (min-width: 320px) and (max-width: 480px) {
  button svg{
    width: 80%;
  }

  .message{
    display: none;
  }
}